[tool.poetry]
name = "pytest-summary"
version = "0.1.0"
description = "This pytest plugin allows you to send a summary of your tests to messengers, as well as print a summary of the tests in the terminal."
authors = ["Oleg Matskiv <alpaca00tuha@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = []

[tool.poetry.dependencies]
python = "^3.7"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
black = "^22.12.0"
ruff = "^0.0.208"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 82
select = ["E", "F"]
ignore = ["E501"]

[tool.ruff.flake8-quotes]
multiline-quotes = "double"

[[tool.bump2version.file]]
file="setup.py"
search = "__VERSION__ = {current_version}"
replace = "__VERSION__ = {new_version}"
